<ion-header translucent>
    <ion-toolbar>
        <ion-title>Searchbar</ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [formControl]="searchControl" autocomplete="on"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <cdk-virtual-scroll-viewport
        #virtualViewPort
        [itemSize]="69"
        class="product_list"
        maxBufferPx="3000"
        minBufferPx="600"
    >
        <ion-list>
            <incust-product
                *cdkVirtualFor="let product of (products$ | async) | searchByName: (searchItem$ | async)"
                [product]="product"
            ></incust-product>
        </ion-list>
    </cdk-virtual-scroll-viewport>
</ion-content>
