ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  width: 100vw;
}
.avatar{
  margin-left: 16px;
}
ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item ion-icon {
  color: #c9c9ca;
}

