<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title> Product </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="product">
    <ion-card>
        <img [src]="product.image" />
        <ion-card-header>
            <ion-card-subtitle>{{product.manufacturer}}</ion-card-subtitle>
            <ion-card-title>{{product.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>{{product.description}}</p>
            <ion-text color="primary" (click)="openInAppBrowser(product.url)"> visit to wep page</ion-text>
            <h2>Price - ${{product.price}}</h2>
        </ion-card-content>
        <ion-grid>
            <ion-row class="buttons-row">
                <ion-buttons>
                    <ion-button (click)="setAmountByClick(100)">$100</ion-button>
                    <ion-button (click)="setAmountByClick(10)">$10</ion-button>
                </ion-buttons>
                <ion-buttons>
                    <ion-button (click)="setQuantityByClick(48)">2.29 qty</ion-button>
                    <ion-button (click)="setQuantityByClick(9)">9 qty</ion-button>
                </ion-buttons>
            </ion-row>
            <form [formGroup]="amountQtyForm">
                <ion-row class="inputs-row">
                    <ion-col size="6">
                        <ion-label>Amount,$</ion-label>
                        <ion-input
                            type="number"
                            (keyup)="setQuantity(amount.value)"
                            formControlName="amount"
                        ></ion-input>
                    </ion-col>
                    <ion-col size="6">
                        <ion-label>Quantity</ion-label>
                        <ion-input
                            type="number"
                            (keyup)="setAmount(quantity.value)"
                            formControlName="quantity"
                        ></ion-input>
                    </ion-col>
                </ion-row>
            </form>
        </ion-grid>
    </ion-card>
</ion-content>
